services:
  gotify-bridge:
    image: druggeri/alertmanager_gotify_bridge:latest
    # ports: ['9094:8080']
    environment:
      - GOTIFY_ENDPOINT=http://gotify:80/message
      - GOTIFY_TOKEN=AmAwS8_4ba0Go7g
      - BIND_ADDRESS=0.0.0.0
      - PORT=8080
      - WEBHOOK_PATH=/gotify_webhook
      - DEFAULT_PRIORITY=5
    networks:
      - monitoring-net
    labels:
      glance.parent: gotify-bridge
      glance.name: AlertManager

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    # ports:
    #   - "9093:9093"
    volumes:
      - ./config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    restart: unless-stopped
    networks:
      - monitoring-net
    labels:
      glance.parent: monitoring
      glance.name: AlertManager

networks:
  monitoring-net:
    external: true
